{% extends 'Layouts/default.html.twig' %}

{% block content %}
    <h1>Sign Up</h1>
    <form method="post">
        <input type="text" name="username" placeholder="Login"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}