<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Uber Framework</title>
</head>
<body>
<div class="content">
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{{ url('start') }}">Start</a></li>
                <li><a href="{{ url('displayEntries') }}">Entries</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</div>
</body>
</html>